
@{
    ViewBag.Title = "FakultelerJson";
}
<script src="~/Scripts/jquery-3.6.4.min.js"></script>
<h2>FakultelerJson</h2>

<input type="button" value="LİSTELE" id="fakulteleriGetir" />


<script>
    $(document).ready(function () {
        $("#fakulteleriGetir").click(function () {
            $.ajax({
                type: "post",
                url: "Listele",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    alert(msg)
                }
            });
            return false;
        })
    })
</script>