
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h1>@ViewBag.yas</h1>
        @*<h1>@TempData["brans"]</h1>*@

        <a href="/Home/Contact">İLETİŞİM</a>
    </div>
</body>
</html>
