
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>@ViewBag.ad</h1>
        @*<h1>@ViewBag.yas</h1>*@
        <h2>@ViewData["soyad"]</h2>
        @*<h1>@TempData["brans"]</h1>*@

        <a href="/Home/About">HAKKIMIZDA</a><br />
        <a href="/Home/Contact">İLETİŞİM</a>
    </div>
</body>
</html>
