
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        <a href="/Home/Index">ANASAYFA</a><br />
        <a href="/home">ANASAYFA_2</a><br />
        <a href="/">ANASAYFA_3</a><br />
        <h1>ABOUT SAYFASI</h1>
    </div>
</body>
</html>
