@using _06_Custom_Html_Helper.Library
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.Button("1","submit","Gönder")
    </div>
  
</body>
</html>
