
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="button" id="urunlerListele" value="Ürünleri Getir" />

<div id="urunler"></div>



<script>
    $(document).ready(function () {
        $('#urunlerListele').click(function () {
            $.getJSON('../api/urun').done(function (veri) {

                var urunler = "";

                $.each(veri, function (key, urun) {
                    urunler += urun.Ad + " Fiyatı:" + urun.Fiyat + "TL - Stok Miktarı:" + urun.StokMiktari + "<br>";
                });

                $('#urunler').html(urunler);
            })
        })
    })
</script>